main.css
.Dashboard body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*          START OF MAIN HTML          */

/* Start of Side Bar Menu*/ 
.box-sidebar-userSection {
  position: fixed;
  width: 250px;
  height: 34%;
  left: 0px;
  top:0px;
  background-color: #FFE5E5;
   z-index: 1;
}

.account-facade {
  top: 8%;
  left: 8px;
  position: relative;
  width: 232px;
  height: 85px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: -5px 4px 4px #00000040;
  z-index: 2;
}

.account-facade .username {
  position: absolute;
  width: 111px;
  height: 19px;
  top: 25px;
  left: 78px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.account-facade .user-fullName {
  position: absolute;
  width: 111px;
  height: 19px;
  top: 48px;
  left: 78px;
  font-family: "Source Code Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5d12d2;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.account-facade .user-icon {
  position: absolute;
  width: 57px;
  height: 63px;
  top: 12px;
  left: 11px;
  z-index: 3;
  background:image("./img/male-user.png");
}

.user-section-menu {
  position: absolute;
  top: 100%;
  width: 121px;
  height: 142px;
  z-index: 1;
}

.user-section-menu div {
  position: relative;
  width: 230px;
  padding: 5px 0;
  height: 25px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.user-section-menu div:hover {
  animation-delay: 2s;
  cursor: pointer;
  background: #5d12d2;
  color: white;
}

.user-section-menu .updates-wrapper {
  top: 0;
}

.user-section-menu .progress-wrapper {
  top: 0%;
}

.user-section-menu .settings-wrapper {
  top: 0%;
}
.user-section-menu .account-wrapper {
  top: 0%;
}


.box-sidebar-projectSection {
  position: fixed;
  width: 250px;
  height: 34%;
  top: 34.5%;
  left: 0px;
  background-color: #FFE5E5;
}

.personal-section {
  top: 5%;
  right:10px;
  position: relative;
  width: 192px;
  height: 122px;
}

.personal-section .title-wrapper {
  position: absolute;
  width: 120px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.personal-section .personal-project-name {
  position: relative;
  width: 230px;
  padding: 10px 0;
  height: 40px;
  top: 10px;
  left: -30px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 15px;
}

.personal-section .personal-project-name:hover {
  cursor: pointer;
  color: white;
  background-color: #5d12d2;
}

.personal-section .new-proj {
  position: absolute;
  width: 174px;
  height: 28px;
  top: 38px;
  left: 30px;
  
}

.personal-section .overlap-group {
  position: relative;
  width: 172px;
  height: 28px;
  
}

.personal-section .newProject-wrapper {
  position: absolute;
  width: 134px;
  height: 20px;
  top: 3px;
  left: 38px;
  font-family: "Source Code Pro-Medium", Helvetica;
  font-weight: 500;
  color: #5d12d2;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.personal-section .newProject-wrapper:hover {
  cursor: pointer;
}

.personal-section .add {
  position: absolute;
  width: 41px;
  height: 28px;
  top: 0;
  left: 0;
}


.box-sidebar-collabSection {
  position: fixed;
  width: 250px;
  height: 31%;
  top: 69%;
  left:0px;
  background-color: #FFE5E5;
}

.collab-section {
  position: relative;
  width: 187px;
  height: 64px;
  top: 5%;
  right:10px;
}


.collab-section .title-wrapper {
  position: absolute;
  width: 120px;
  height: 21px;
  top: -1px;
  left: -10px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.collab-section .group {
  position: absolute;
  width: 174px;
  height: 28px;
  top: 36px;
  left: 30px;
}

.collab-section .overlap-group {
  position: relative;
  width: 172px;
  height: 28px;
}

.collab-section .newCollab-wrapper {
  position: absolute;
  width: 134px;
  height: 20px;
  top: 3px;
  left: 38px;
  font-family: "Source Code Pro-Medium", Helvetica;
  font-weight: 500;
  color: #5d12d2;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.collab-section .newCollab-wrapper:hover {
  cursor: pointer;
}

.collab-section .collab-project-name {
  position: relative;
  width: 230px;
  padding: 10px 0;
  height: 40px;
  top: 10px;
  left: -30px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 15px;
}

.collab-section .add {
  position: absolute;
  width: 41px;
  height: 28px;
  top: 0;
  left: 0;
}

.collab-section .collab-project-name:hover {
  cursor: pointer;
  color: white;
  background-color: #5d12d2;
}

.feedback-wrapper {
  position: relative;
  width: 120px;
  height: 21px;
  top: 60%;
  left: 22%;
  font-family: "Source Code Pro-Medium", Helvetica;
  font-weight: 500;
  color: #5d12d2;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
/* End of Side Bar Menu*/ 

/* Assuming a class is used */
.progress-bar-holder {
  position: relative;
  width: 1200px;
  height: 84px;
  top: -75px;
  left: 125px;
  background-color: #5d12d2;
}
.progress-bar-holder-report {
  position: relative;
  width: 1200px;
  height: 84px;
  top: 10px;
  left: 125px;
  background-color: #5d12d2;
}


.label-projectname {
  position: relative;
  top: 6%; 
  left: -34%;
  width: 100%;
  font-family: "Source Code Pro-Bold", Helvetica;
  font-weight: 700;
  color: #ffe5e5;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}


.progressbar {
  position: relative;
  width: 65%;
  height: 42px;
  top: -60%;
  left: 30%;
  background-color: white;
}
/* End of Progress Bar Section*/


/* Start of the Main Feature */
/* Start of the Main Feature [Buttons]*/
.add-new-task-button {
  position: relative; 
  width: 229px;
  height: 44px;
  top: -70px;
  left: 125px;
 
}


.add-new-task-button .button-add-new-task {
  position: relative;
  width: 229px;
  height: 34px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  background-color: #FF6AC2;
  color: #ffffff;
  border-radius: 11px;
  font-size: 20px;
  letter-spacing: 0;
  padding: 25px 8rem;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.add-new-task-button  .add-new-picture {
  position: absolute;
  width: 31px;
  height: 30px;
  top: 8px;
  left: 20px;
  z-index: 2;
}


.edit-button {
  position: relative; 
  width: 160px;
  height: 44px;
  top: 13%;
  left: 66%;
}

.edit-button .button-edit {
  position: relative;
  width: 160px;
  height: 34px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  background-color: #FF6AC2;
  color: #ffffff;
  border-radius: 11px;
  font-size: 20px;
  letter-spacing: 0;
  padding: 25px ;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  letter-spacing: 3px;
}

.edit-button  .edit-picture {
  position: absolute;
  width: 23px;
  height: 34px;
  top: 5px;
  left: 18px;
  z-index: 2;
}


.show-all-button {
  position: relative; 
  width: 229px;
  height: 44px;
  top:-45px;
  left: 79%;
}

.show-all-button .button-show-all {
  position: relative;
  width: 200px;
  height: 34px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  background-color: #FF6AC2;
  color: #ffffff;
  border-radius: 11px;
  font-size: 20px;
  letter-spacing: 0;
  padding: 25px ;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  margin: auto; 
  display: flex; 
  justify-content: right; 
  align-items: center; 
  letter-spacing: 3px;
}


.show-all-button  .show-all-picture {
  position: absolute;
  width: 50px;
  height: 34px;
  top: 5px;
  left: 20px;
  z-index: 2;
}
/* End of the Main Feature [Buttons]*/
.title {
  position: absolute;
  width: 120px;
  height: 71px;
  top: 28%;
  left: 26%;
}

.title .day-date {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Source Code Pro-Bold", Helvetica;
  font-weight: 700;
  color: #5d12d2;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.title .calendar-date {
  position: absolute;
  width: 120px;
  height: 21px;
  top: 49px;
  left: 0;
  font-family: "Source Code Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.todo-app{
  position: relative;
  width: 75%;
  top: 15%;
  left: 20%;
  background-color: #ffe5e5;
  border-radius: 54px;
  box-shadow: -20px 20px 4px #f29d38;
  padding: 40px 30px 70px;
  min-height: 10vh;
}

/*Duplicates Only*/

.title2 {
  position: relative;
  width: 120px;
  height: 71px;
  top: 20%;
  left: 20%;
}

.title2 .day-date2 {
  position: relative;
  top: 0;
  left: 0;
  font-family: "Source Code Pro-Bold", Helvetica;
  font-weight: 700;
  color: #5d12d2;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.title2 .calendar-date2 {
  position: relative;
  width: 120px;
  height: 21px;
  top: 0;
  left: 0;
  font-family: "Source Code Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

#div-container {
  position: relative;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0em;
  top: 20%;
} 

.todo-app2 {
  width: 75%;
  top: 40%;
  left: 20%;
  background-color: #ffe5e5;
  border-radius: 54px;
  box-shadow: -20px 20px 4px #B931FC;
  padding: 40px 30px 70px;
  min-height: 10vh;
  margin-bottom: 5em;
}

.task-creator-holder{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  padding-left: 20px;
   flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.button-addtask{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #FF6AC2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
.Dashboard ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.Dashboard ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(img/square-90-1.png);
  background-size: cover;
  background-position: center;
  top: 7.5px;
  left: 8px;
}
.Dashboard ul li.checked{
  color: #555;
  text-decoration: line-through;
}
.Dashboard ul li.checked::before{
  background-image: url(img/SquareFull.png);
}
.Dashboard ul li span{
  position: absolute;
  right: inherit;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;  
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.Dashboard ul li button{
  position: absolute;
  right: inherit;
  right: 5%;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  font-size: 10px;
  border: none;
  border-radius: 50%;
  background-color: #ffe5e5;
}
.Dashboard ul li span:hover{
  background: #edeef0;
}
.Dashboard ul li button:hover{
  background: #edeef0;
  cursor: pointer;
}

/*          END OF MAIN HTML          */


/*          START OF REPORT HTML          */

/* Start of Button Features */
.edit-button-report {
  position: relative; 
  width: 229px;
  height: 44px;
  top: 70px;
  left: 65%;
  margin-bottom: 50px;
}

.edit-button-report .button-edit {
  position: relative;
  width: 189px;
  height: 44px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  background-color: #FF6AC2;
  color: #ffffff;
  border-radius: 11px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  margin: auto; 
display: flex; 
justify-content: center; 
align-items: center; 
letter-spacing: 3px;
}


.edit-button-report  .edit-picture {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 12px;
  left: 40px;
  z-index: 2;
  margin-left:auto;
}

.go-back-button-report {
  position: relative; 
  width: 200px;
  height: 44px;
  top: -23px;
  left: 84%;
}

.go-back-button-report .button-show-all {
  position: relative;
  width: 200px;
  height: 44px;
  font-family: "Source Code Pro-SemiBold", Helvetica;
  font-weight: 600;
  background-color: #FF6AC2;
  color: #ffffff;
  border-radius: 11px;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  margin: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  letter-spacing: 3px;
}

.go-back-button-report  .go-back-picture {
  position: absolute;
  width: 40px;
  height: 34px;
  top: 12px;
  left: 12px;
  z-index: 2;
  margin-right: auto;
}
/* End of Button Features */

.report-holder {
  position: relative;
  width: 80%;
  top: 3%;
  left: 18%;
  background-color: #ffe5e5;
  border-radius: 54px;
  box-shadow: -20px 20px 4px #ff6ac2;
  padding: 40px 30px 70px;
  height: 100%;
}


.previous-holder{
  position: relative;
  top: 5%;
  left: 3%; 
}

.previous-frame {
  position: relative;
  width: 192px;
  height: 71px;
}

.previous-frame .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Source Code Pro-Bold", Helvetica;
  font-weight: 700;
  color: #5d12d2;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.previous-frame .div {
  position: absolute;
  width: 120px;
  height: 21px;
  top: 49px;
  left: 0;
  font-family: "Source Code Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.previous-placeholder {
  position: relative;
  width: 491px;
  margin-bottom: 100px;
}


.current-holder{
  position: relative;
  left: 3%; 
}

.current-frame {
  position: relative;
  width: 192px;
  height: 71px;
}

.current-frame .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Source Code Pro-Bold", Helvetica;
  font-weight: 700;
  color: #5d12d2;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.current-frame .div {
  position: absolute;
  width: 120px;
  height: 21px;
  top: 49px;
  left: 0;
  font-family: "Source Code Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5d12d2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.current-placeholder {
  position: relative;
  width: 491px;
  margin-bottom: 100px;
  }


  .archive-holder{
    position: relative;
    left: 3%; 
  }
  
  .archive-frame {
    position: relative;
    width: 192px;
    height: 71px;
  }
  
  .archive-frame .text-wrapper {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Source Code Pro-Bold", Helvetica;
    font-weight: 700;
    color: #5d12d2;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .archive-frame .div {
    position: absolute;
    width: 120px;
    height: 21px;
    top: 49px;
    left: 0;
    font-family: "Source Code Pro-Regular", Helvetica;
    font-weight: 400;
    color: #5d12d2;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .archive-placeholder {
    position: relative;
    width: 491px;
    margin-bottom: 100px;
    }

  .completed-tasks-list{
    position: fixed;
    right: -500%;
  }
