.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #FF6AC2, #5D12D2);
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .Forgot-Password-container {
    position: relative;
    flex-direction: column;
  }
  
  .Forgot-Password-form {
    flex-direction: column;
    background-color: white;
    color: #27385B;
    font-weight: bold;
    text-align: left;
    z-index: 2; 
    position: relative; 
    width: 472px;
    height: 350px; 
    margin-left: -50px;
    margin-top: 30px;
  }
  .Forgot-Password-form input {
    width: 250px; 
    height: 40px; 
    font-size: 16px; 
    margin: 5px 0; 
    padding: 15px 12.5rem 1rem 15px; 
    border: 2px solid #000; 
    border-radius: 10px; 
  }
  
  .Forgot-Password-auth-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #27385B;
    padding: 5rem;
    margin: 0 auto; 
    text-align: left;
    width: 372px;
    height: 300px;
    z-index: 2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7); /* Add shadow to the right and bottom edges */
  }
  
  
  .input-group {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    margin-top: -10px;
   
  }
  
  
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
      
    }
  }
  
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 3px solid #000; 
    border-radius: 10px;
    font-size: 18px;
  }

  button{
    border: none;
    background-color: #7439db;
    padding: 30px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }

  .Forgot-Password-Title-label {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: -35px;
}

 
.login-form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 35px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); /* Add a shadow on all sides */
}


  
  .Forgot-Password-link-btn{
    background-color: #5D12D2;
    font-size: 17px; 
    word-spacing: 5px; 
    position: absolute;
width: 468px;
height: 80px;
margin: 3.5rem auto;
text-align: center;
display: flex;
justify-content: center; /* Center the text horizontally */
align-items: center; /* Center the text vertically within the button */

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: white;
  }

  